/* ========================================= */
/* ========================================= */
/* === Général ============================= */
/* ========================================= */
/* ========================================= */

body {
  background-color: #626262;
}


#section {
  width: auto;
  height: 600px;
  display: block;

  margin: 10px;
  margin-left: 170px;
}


/* ========================================= */
/* ========================================= */
/* === Cases de demandes =================== */
/* ========================================= */
/* ========================================= */

#section_demande {
  width: auto;
  height: 120px;
  display: block;
  margin: 5px;
  font-family: "Calibri";

  border-bottom: 2px solid #4B4B4B;
  border-left: 2px solid #4B4B4B;
}

#section_demande_infos {
  height: 120px;
  width: 15%;
  text-align: center;
  border-right: 2px solid #4B4B4B;
}

#section_demande_message {
  height: 120px;
  width: 84%;

  margin-top: -125px;
  float: right;
}



#section_demande_objet {
  font-weight: bold;
  font-size: 115%;
}

#section_demande_statut {
  height: 23px;
  width: 75px;
  margin-top: 6px;
}

#section_demande_msg {
  text-align: justify;
}
